@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+SA&family=Roboto+Slab:wght@100..900&display=swap');
*{

}
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto Slab", sans-serif;
 
  background-color: #fcfcfc;
}

.container {
  max-width: 1400px;
  /* font-size: 30px; */
  margin: auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar {
  height: 90px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #102d5e;
  position: relative;
}

.logo img{
height: 4.5rem;
}

.menu-icon {
  display: none;
}

.nav-elements ul {
  display: flex;
  justify-content: space-between;
  margin-right: 300px;
  gap: 100px;
  list-style-type: none;
}

.nav-elements ul li:not(:last-child) {
  margin-right: 37px;
}

.nav-elements ul a {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
}

.nav-elements ul a.active {
  color: #574c4c;
  font-weight: 500;
  position: relative;
}

.nav-elements ul a.active::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #574c4c;
}
.navbar-right {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  @media (max-width: 1200px) {
    .menu-icon {
      display: block;
      cursor: pointer;
    }
  
    .logo img {
      height: 3rem;
    }
  
    .nav-elements {
      position: absolute;
      right: 0;
      top: 90px; 
      background-color: #102d5e;
      width: 0px;
      height: calc(100vh - 90px);
      transition: all 0.3s ease-in;
      overflow: hidden;
    }
  
    .nav-elements.active {
      width: 547px;
      z-index: 1
    }
  
    .nav-elements ul {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  
    .nav-elements ul li {
      margin-right: unset;
      margin-top: 22px;
    }
  
    .nav-elements ul a {
      font-size: 18px; 
      text-align: left;
      padding-left: 15px;
    }
  
    .navbar-right {
      display: none;
    }
  }
  
@media (max-width: 768px) {
  .nav-elements ul {
  
    gap: 0px;
   
  }
  .nav-elements ul li:not(:last-child) {
    margin-right: 30px;
  }
  .navbar-right{
 display: none;
  }
}

@media (max-width: 600px) {
  .menu-icon {
    display: block;
    cursor: pointer;
  }
  .logo img{
    height: 3rem;
    }
  .nav-elements {
    position: absolute;
    right: 0;
    top: 60px;
    background-color: #102d5e;
    width: 0px;
    height: calc(100vh - 60px);
    transition: all 0.3s ease-in;
    overflow: hidden;
  }

  .nav-elements.active {
    width: 234px;
    z-index: 1;
  }

  .nav-elements ul {
    display: flex;
    flex-direction: column;
  }

  .nav-elements ul li {
    margin-right: unset;
    margin-top: 22px;
  }
}